.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 99999999999;
}

.cursor-dot {
  width: 6px;
  height: 6px;
  background-color: #fff;
  transition: 0.5s opacity ease-in-out;
}

.cursor-dot-outline {
  border: 1px solid #fff;
  background-color: #fff;
  opacity: 0.3 !important;
  width: 3rem;
  height: 3rem;
  transition: 0.3s ease-in-out;
  transition-property: height, width, opacity, background-color;
}

.view-project {
  border: 1px solid #fff;
  width: 6rem;
  height: 6rem;
  background: #fff;
  opacity: 1 !important;
  transition-property: height, width, opacity, background-color;
  &::after {
    content: "View Project";
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #101010;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    opacity: 1;
  }
}

.view-project-dot {
  opacity: 0 !important;
}
